<!DOCTYPE html>
<html>
<head>
<title>Student Contacts</title>
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
<link rel="stylesheet" href="/images/student-contacts/css/theme/crm-css/jquery-ui.custom.css" type="text/css">
<link rel="stylesheet" href="/images/student-contacts/css/datatable_jui.css" type="text/css">

~[x:insertfile;/scripts/student-contacts/custom-jquery-1.0.html]
<script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.5/parsley.js"></script>
~[x:insertfile;/scripts/student-contacts/custom-datatables-1.0.html]
~[x:insertfile;/scripts/student-contacts/customscripts.html]


<script src="https://cdn.rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

<script>
    var psData = {};

    // Render these ids as strings so if there are leading 0s
    // so they don't get removed (as they are when parsed as Numbers).
    psData.curstudid = "~(curstudid)";
    psData.frn = "~(frn)";
    psData.studentdcid = "~(studentfrn)".slice(3);
</script>

<script type="text/template" id="staging-contact-template">
    <li>
        <a href="/admin/students/contacts/scchangeframe.html?frn=001<%= contact.studentsdcid %>&stagingcontactdcid=<%= contact.record_id %>" target="_top">
            <%= contact.first_name %> <%= contact.last_name %>
        </a>
    </li>
</script>


<style type="text/css">
    body, td, p, ul, div {
        color: inherit;
    }

    #maincontent td, #maincontent tr, #maincontent th {
        border: 1px solid;
        font-size: 9pt;
    }

    #holder td, #holder p {
        font-size: 9pt;
    }

    #holder tr.odd {
        background-color: #EDF3FE;
    }

    .hidden {
        display: none;
    }

    #successmsg {
        font-size: 11pt;
        background-color: lightblue;
        text-align: center;
    }

    #maincontent table {
        border-collapse: collapse;
    }

    #holder_wrapper {
        width: 750px;
    }

    div.contactinfo {
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 1px solid black;
    }

    .infoheader {
        font-weight: bold;
    }

    .inforow {
        background-image: url(/images/blue_grad.png);
    }

    .datatable {
        background-color: #edf3fe;
        width: 750px !important;
    }

    div.address {
        float: left;
        margin-left: 15px;
    }

    .mini {
        color: #339900;
        font-size: 7pt;
    }

    .mini .title {
        color: #000000;
        text-decoration: underline;
    }

    .mini .data {
        color: #339900;
    }

    .editcontact, .deletecontact, .inactivatecontact {
        color: #ffffff !important;
        margin-bottom: 10px !important;
    }

    .inactive-contact {
        background-color: #DEDEDE;
        display: none;
    }

    ul > li {
        list-style-type: none !important;
    }

</style>

<script src="/scripts/student-contacts/studentcontacts.js"></script>
<script src="/scripts/student-contacts/pending-contacts.js"></script>

</head>

<body class="yui-skin-sam">
~[wc:admin_header_frame_css]
<!-- breadcrumb start -->
<a href="/admin/home.html" target="_top">Start Page</a> &gt; <a href="home.html?selectstudent=nosearch" target="_top">Student
    Selection</a> &gt; Student Contacts
<!-- breadcrumb end -->
~[wc:admin_navigation_frame_css]
<!-- Beginning of title of page -->
~[wc:title_student_begin_css]Student Contacts~[wc:title_student_end_css]
<!-- Ending of title of page -->
<!-- start of content and bounding box -->

<div id="maincontent" align="center">
    <div id="error_container"></div>
    <!--CUSTOM Student Contacts list -->

    <table id="holder" border="1" cellpadding="2" cellspacing="0" align="center" style="padding-bottom: 25px;">
        <thead>
        <tr class="inforow">
            <th>&nbsp;</th>
            <th style="width: 176px !important;">Contact</th>
            <th style="width: 186px !important;">Address</th>
            <th style="width: 240px !important;">Contact Info</th>
            <th style="width: 99px !important;">Options</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- END Student Contacts Content list-->

    <h1>Contacts With Pending Changes</h1>
    <div class="box-round" style="width: 750px;">
        <ul id="staging-contacts-list">

        </ul>
    </div>

</div>
<!-- end of content of bounding box time
-->
~[wc:admin_footer_frame_css]

<script type="text/template" id="option-template">
    <option value="<%= value %>"><%= label %></option>
</script>
</body>
</html>