~[wc:server_info_as_html_comment]
~[get_js_texts:psx.js.admin_javascript.validate_date.]
~[get_js_texts:psx.common.]
~[get_js_texts:psx.js.scripts.psbehaviors.]
~[if.jsdebug]
<script src="/scripts/jquery-migrate-1.1.1.js"></script>
<script src="/scripts/jquery-ui-1.10.2.custom.js"></script>
<script src="/scripts/requirejs/require.debug.js"></script>
[else]
<script src="/scripts/jquery-migrate-1.1.1.min.js"></script>
<script src="/scripts/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/scripts/requirejs/require.js"></script>
[/if]

<!--[if lt IE 7]><script>jQuery('html').data('ltie', 7.addClass('ltie7');;</script><![endif]-->
<!--[if lt IE 8]<script>jQuery('html').data('ltie', 8).addClass('ltie8');;</script><![endif]-->
<!--[if lt IE 9]><script>jQuery('html').data('ltie', 9).addClass('ltie9');</script><![endif]-->

~[wc:feedback_js_vars]

<script src="/scripts/psDialog.js"></script>
<script type="text/javascript">
    /**
     * Need to configure require js before psbehaviors.
     */
    require.config({
        baseUrl: ~[scripts_url],
        paths: {
            'handlebars':                'handlebars/require-handlebars.1.0.0.rc3',
            'json2':                     'handlebars/json2',
            'hbs':                       'hbs/0.4.0/hbs',
            'underscore':                'underscore/underscore-'+~[if.jsdebug]'dev'[else]'min'[/if]+'-1.4.4',
            'backbone':                  'backbone/backbone-'+~[if.jsdebug]'dev'[else]'min'[/if]+'-0.9.10',
            'jquery.cookie':             'jquery.cookie',
            'psDateValidate':            'psDateValidate',
            'psDateWidget':              'psDateWidget',
            'psDirtyStateController':    'psDirtyStateController',
            'psFormValidate':            'psFormValidate',
            'psNumWidget':               'psNumWidget',
            'psReloader/psReloader-min': 'psReloader/psReloader-min',
            'psRequired':                'psRequired',
            'psTextWidget':              'psTextWidget',
            'psValidationFunctions':     'psValidationFunctions',
        //'angular':                   'lib/angular/angular',
            'angular':                   'lib/angular/angular.min',
            'angular-cookies':           'lib/angular/angular-cookies.min',
            'angular-route':             'lib/angular/angular-route.min',
            'angular-sanitize':          'lib/angular/angular-sanitize',
            'angular-translate':         'lib/angular/angular-translate.min',
    },

    hbs: {
        disableI18n: true
    },

    shim: {
        'underscore': {
            exports: '_'
        },
        'backbone': {
            exports: 'Backbone',
                    deps: ['underscore']
        },
        'angular': {
            exports: 'angular'
        },
        'angular-translate':{
            deps: ['angular']
        },
        'angular-sanitize':{
            deps: ['angular']
        },
        'angular-route':{
            deps: ['angular']
        },
        'angular-cookies':{
            deps: ['angular']
        }
    },

    map: {
        '*': {
            'Handlebars': 'handlebars'
        }
    },
    priority: [
        'angular'
    ]    });
    define('jquery', function () {
        return jQuery;
    });
    define('jquery-ui', ['jquery'], function($) {
        return $.ui;
    });
</script>
<script src="/scripts/psbehaviors.js"></script>

<script src="/scripts/keep-alive.js"></script>
~[if#frm.~[get_frame_type]=none]<!-- Frame type=none -->~[if.isloggedin]<meta id="keep-alive-config" content="~(sessiontimeoutminutes)"/>[/if.isloggedin][/if#frm]
~[if#frm.~[get_frame_type]=content]<!-- Frame type=content -->~[if.isloggedin]<meta id="keep-alive-config" content="~(sessiontimeoutminutes)"/>[/if.isloggedin][/if#frm]
~[if#frm.~[get_frame_type]=]<!-- Frame type=none -->~[if.isloggedin]<meta id="keep-alive-config" content="~(sessiontimeoutminutes)"/>[/if.isloggedin][/if#frm]

<script type="text/javascript">

    /**
     * Set the page's locale via a request_locale URL parameter. If there is already a URL parameter by
     * this name, then substitute it with the passed-in locale. NOTE: This function will actually cause the page
     * to be re-submitted with the new locale, so it really should not be used with pages submitted via POST
     * requests (if there are any, which I hope there are not).
     * @param locale the locale to set (e.g. en_US)
     */
    function setPageLocale (locale) {
        var c=String (window.location);
        var rlpos = c.indexOf("request_locale=");
        var afterPart = "";
        if (rlpos > 0) {
            var afterBegin = c.indexOf("&", rlpos);
            if (afterBegin > 0) {
                afterPart = c.substring(afterBegin);
            }
            c = c.substring(0, rlpos-1);
        }
        var s=(c.indexOf('?') > 0 ? '&' : '?');
        var np = c + s + 'request_locale=' + locale + afterPart;
        window.location = np;
    }

    function get_locale() {
        return "~[locale]";
    }

    function checkForPTMURL() {
        if ($j && $j.cookie && $j.cookie('PTM_URL')!=null
                && window.location!=$j.cookie('PTM_URL')
                && !window.location.href.match("/teachers/pw.html") ) {
            var path = $j.cookie('PTM_URL');
            $j.cookie('PTM_URL',null, { path: '/', expires: -1 });
            window.location.replace(path);
        }
    }

    ~[Comment: 	There are four instances of definition of pss_text in the src. They are in ...
    sis/sis-core/src/java/generated/com/pearson/powerschool/i18n/I18NText.java
    sis/web/src/views/psxdecorators/commonscripts.ftl
    web_root/ftl/admin/studentmobility/CustomFieldMapping.ftl
    web_root/wildcards/commonscripts.txt ]
    if(typeof pss_text!='function'){
        function pss_text(key, params, returnKeyIfNotFound) {
            if (_messages[key] === undefined)
            {
                if (returnKeyIfNotFound !== undefined && returnKeyIfNotFound === true) {
                    return key;
                } else {
                    return "~[text:psx.core.I18NText.string_key_was_not_found]";
                }
            }
            if(params == null || params.length == 0)
            {
                return _messages[key];
            }
            else
            {
                msg = _messages[key];
                for ( i = 0; i < params.length; i++)
                {
                    token = "{"+i+"}";
                    msg = msg.replace(token, params[i]);
                }
                return msg;
            }
        }
    }

    function get_localized_date(d) {
        return ~[get_js_localized_date:d];
    }


    // Format is a formatting object
    // number is number object
    function formatNumber(format, number)
    {
        var ds = format.ds; // decimal separator
        var result = "";

        if (isNaN(number) == true)
        {
            return number
        }
        else
        {
            result = number.toString();
            result = result.replace(".",ds);
            return result;
        }
    }

    function localizeNumber(number)
    {
        return formatNumber(get_numeric_format(), number);
    }

    function deLocalizeNumber(number) {
        return removeNumberFormat(get_numeric_format(), number);
    }

    function removeNumberFormat(format, number) {
        // IE does not like instantiating RegExp objects with empty values, so we have to
        // check for valid values in the grouping separator before using it in a RegExp.
        var gsNotBlank = (format.gs == "." || format.gs == "," || format.gs == " ");
        number = number.toString();
        // We also want to check that only valid characters are present.
        var regexString = "^" + format.regex + "$";
        var validNumber = new RegExp(regexString, "g");
        if (number != "" && number.match(validNumber) != null) {
            if (gsNotBlank) {
                var gs = new RegExp("\\"+format.gs, "g");
                number = number.replace(gs, "")
            }
            var ds = new RegExp("\\"+format.ds, "g"); //The decimal separator is not expected to be empty
            number = parseFloat(number.replace(ds, "."));
        } else {
            return null;
        }
        return (isNaN(number)) ? null : number;
    }

    function localizeCurrency(number)
    {
        return formatNumber(get_currency_format(), number);
    }

    <!-- This function return a json object with numeric formatting info -->
    function get_numeric_format() {
        return ~[numericformat];
    }

    <!-- This function return a json object with currency formating info -->
    function get_currency_format() {
        return ~[currencyformat];
    }

    <!-- This function return date format in machine readable form -->
    function get_short_date_format() {
        return "~[dateformat:mmddyy]";
    }
    <!-- This function return date format in machine readable form -->
    function get_date_format() {
        return "~[dateformat:mmddyyyy]";
    }

    <!-- This function return date format in human readable form -->
    function get_date_text(){
        return "~[datetext:mmddyyyy]";
    }
    <!-- This function return date format in human readable form -->
    function get_short_date_text(){
        return "~[datetext:mmddyy]";
    }

    <!-- This function return time format in machine readable form without seconds-->
    function get_HHMMTime_format() {
        return "~[timeformat:hhmm]";
    }

    <!-- This function return time format in machine readable form with seconds-->
    function get_HHMMSSTime_format() {
        return "~[timeformat:hhmmss]";
    }

    <!-- This function return ante/post meridian in machine readable form -->
    function get_AMPM(ampm) {
        if(ampm == "am")
            return "~[i18ampm:am]";
        else
            return "~[i18ampm:pm]";
    }

    if(!_messages) var _messages = {};
    /**
     * Get texts from the server based on a prefix.
     * @param prefix the prefix to use
     * @param onlyIfNotPresent (optional) if passed, check to see if message is present yet; only fetch the
     *   texts from the server if this key is not present
     */
    function pss_get_texts(prefix, onlyIfNotPresent) {
        if (onlyIfNotPresent && _messages[onlyIfNotPresent]) return;

        jQuery.ajax ({async: false,
            url:'/getMessages.action',
            data:{prefix: prefix, locale: get_locale()},
            dataType:'json',
            success: function (msgs) {
                jQuery.each(msgs, function (key, value) {
                    _messages[key] = value;
                });
            }
        });
    }

    function alertwindow (directory, alerttype, frn) {
        w = window.open("/"+directory+"/alerts/"+alerttype+"alert.html?frn="+frn, "alert", "toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=yes,width=350,height=250");
    }

    function helpwindow (url) {
        w = window.open(url, "help", "toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=yes,width=570,height=500");
    }

    function helptext (text) {
        window.status = text;
        return true;
    }

    function openSpecialWeighting(opener) {
        var path = "";
        if (opener == "admin"){
            path = "/admin/students/specialweighting.html";
        }else if (opener == "parent"){
            path = "/guardian/specialweighting.html";
        }else if (opener == "teacher"){
            path = "/teachers/studentpages/specialweighting.html";
        }
        window.open(path, 'Weighting', 'width=500,height=425,menu=no,toolbar=no,location=no,scrollbars=yes');

    }

    function openScaleTranslation() {
        var path="/admin/stdconversiontable/scaletranslation.html";
        window.open(path, 'Scale_Translation', 'width=500,height=425,menu=no,toolbar=no,location=no,scrollbars=yes,resizable=1');
    }

    function alertcommentwindow(studentid, sectionid, asmtid) {
        window.open("scorecomment.html?ac=scorecomment&studentid=" + studentid + "&sectionid=" + sectionid + "&asmtid=" + asmtid, "Score", "toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=yes,width=480,height=480");
    }

    function feedbackwindow () {
        window.showModalDialog('/getFeedback.action','send_feedback','dialogWidth:640px; dialogHeight:500px; scroll:no;');
    }

    function $(id) {
        return document.getElementById(id);
    }

    //line breaks are 2 chracters on the backend (\r\n)
    //IE treats them as 2 already but FF and Safari treat them
    //as one (\n only). This will ensure all browsers are counting line
    //breaks as 2
    // This function is duplicated in muliple locations. Updating one requires
    // updating all of them. They are located under
    // web_root/wildcards/commonscripts.txt
    // web_root/scripts/commonscripts.js
    // sis/web/srv/views/psxdecorators/commonscripts.ftl
    function realLength(str) {
        if (!str)
            return 0;

        //replace \r with empty string (this will only be matched on IE)
        var temp = str.replace(/\r/g, "");

        //find all occurances of newlines (\n)
        var lns = temp.match(/\n/g);

        if (lns)
        //if we had any newlines, do this hokie pokie to consistently count them as two
            return temp.length + lns.length;
        else
        //else no newlines, we can just use the strings actual length
            return str.length;
    }


    // trim function that truncates off the end of stringCopy until the string is less than
    // maxlimit. Treats any new line (\n or \r\n) as two characters when trimmed
    // off the end.
    // stringCount should be calcuated by the function realLength. The value is either the
    // length of stringCopy in chracters if isUnicode == false, or the length in bytes
    // if isUnicode == true.
    // This function is duplicated in muliple locations. Updating one requires
    // updating all of them. They are located under
    // web_root/wildcards/commonscripts.txt
    // web_root/scripts/commonscripts.js
    // sis/web/srv/views/psxdecorators/commonscripts.ftl
    function trimToSize (stringCopy, stringCount, maxlimit, isUnicode) {

        var last_char;
        var secondToLast_char;
        var curval = stringCopy;
        var unicodeEscaped;
        var unicodeCharLength;
        for (; stringCount > maxlimit; ) {
            //get the last char in the string
            last_char = curval.charAt(curval.length-1);
            if (last_char == '\n') {
                //check if the second to last is a \r and yank that too
                secondToLast_char = curval.charAt(curval.length-2);

                if (secondToLast_char == '\r') {
                    curval = curval.substring(0, curval.length-2);
                }
                else {
                    curval = curval.substring(0, curval.length-1);
                }
                //line breaks need to be handled as 2 characters
                stringCount = stringCount - 2;
            }
            else {
                //character, pull it
                //figure out how many units to decriment the count by
                if (isUnicode) {
                    unicodeEscaped = unescape( encodeURIComponent( last_char ) );
                    unicodeCharLength = unicodeEscaped.length;
                    stringCount = stringCount - unicodeCharLength;
                }
                else {
                    stringCount = stringCount - 1;
                }


                curval = curval.substring(0, curval.length-1);
            }

        }
        // All done, field data is cut down to size. Save it.
        return curval;


    }

    // This function is duplicated in muliple locations. Updating one requires
    // updating all of them. They are located under
    // web_root/wildcards/commonscripts.txt
    // web_root/scripts/commonscripts.js
    // sis/web/srv/views/psxdecorators/commonscripts.ftl
    function maxlength( field, maxlimit, leftCountSpan ) {
        var ret = true;
        var scrollDown = false;
        var characterCount = realLength(field.value);
        var stringCopy;
        var isUnicode;

        // Check max field length. Now modified to also take Oracle 4000B limit into account.
        if ( characterCount > maxlimit ) {
            stringCopy = field.value;
            isUnicode = false;
            field.value = trimToSize (stringCopy, characterCount, maxlimit, isUnicode);

            characterCount = realLength(field.value); //update the charCount since we've altered the string
            scrollDown = true;
            ret = false;
        }

        var utf8 = unescape( encodeURIComponent( field.value ) );
        var unicodeCharacterCount = realLength(utf8);
        if (unicodeCharacterCount > 4000) {
            stringCopy = field.value;
            isUnicode = true;
            var maxBytes = 4000;
            field.value = trimToSize(stringCopy, unicodeCharacterCount, maxBytes, isUnicode);

            characterCount = realLength(field.value); //update the charCount since we've altered the string
            utf8 = unescape( encodeURIComponent( field.value ) );
            unicodeCharacterCount = realLength(utf8); //update the unicodeCharCount since we've altered the string
            ret = false;
            scrollDown = true;
        }

        if (scrollDown) {
            field.scrollTop = field.scrollHeight;
        }

        // Find # left if caller wants to know
        if (leftCountSpan) {
            var left1 = maxlimit - characterCount;
            var left2 = 4000 - unicodeCharacterCount;
            var left = (left1 < left2 ? left1 : left2);

            $j("#"+leftCountSpan).html(left);
        }
        return ret;
    }

    function noNumbers(e) {
        var keynum, keychar, numcheck;
        if(window.event) keynum = e.keyCode; // IE
        else if(e.which) keynum = e.which; // Netscape/Firefox/Opera
        keychar = String.fromCharCode(keynum);
        numcheck = /\d/;
        return !numcheck.test(keychar);
    }

    function onlyNumbers(e) {
        return !noNumbers(e);
    }

    function decodeText(text) {
        return $j("<div/>").html(text).text();
    }

</script>

<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);

    function hideURLbar(){
        window.scrollTo(0,1);
    }
</script>
<!-- iPhone Scripts introduced for parent access -->
~[get_js_texts:psx.js.admin_javascript.validate_date.]
<script language="JavaScript" type="text/javascript" src="/admin/JavaScript/validate_date.js"></script>

<link rel="shortcut icon" href="/favicon.ico" >